#home {
    background-image:url("https://wpblink.com/sites/default/files/wallpaper/food/68877/pizza-wallpapers-hd-68877-5204185.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;

}
.header{
    color: white;
    text-align: center;
   
    margin-top:25%;
    /* background-color:black;
    opacity:0.3; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:30px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #about  {
    background-image: url("https://wpblink.com/sites/default/files/wallpaper/food/68877/pizza-wallpapers-hd-68877-4281648.png");
    height: 980px;
    background-repeat: no-repeat;
     background-size: cover;
  }

  #order {
   background-image: url("https://wpblink.com/sites/default/files/wallpaper/food/68877/pizza-wallpapers-hd-68877-4281648.png");
   height: 980px;
   background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    font-size: 40px;
  }